@media (min-width: 800px) {
.profile-container{
     width: 29%;
    max-height: 450px;
    margin: 5px auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgb(0, 0, 0 , 0.1);
    border-radius: 8px;
  
}
 .profile-container h2{
 font-size: 21px;
    }
.action-buttons{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 0;
}

.Logout-btn , .change-password-btn{
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.Logout-btn{
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    transition:  background-color 0.3s ease;
}

.Logout-btn:hover{
    background-color: #e60000;
}
.change-password-btn{
    background-color: #007bff;
    color: #fff;
    border: none;
    transition:  background-color 0.3s ease;
}
.change-password-btn:hover{
    background-color: #0056b0;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0 , 0.5);
    overflow: auto;
    padding-top: 60px;
}
.modal-content{
    background-color: #fff;
    margin: 5% auto;
    border-radius: 8px;
    padding: 50px;
    width: 80%;
    max-width: 400px;
}
.close-btn{
    color: #aaa;
    font-size: 27px;
     font-weight: bold;
     position: absolute;
     top: 10px;
     right: 25px;
     cursor: pointer;
}
 .input-group{
    position: relative;
    
 }
  .input-group i{
    position: absolute;
    right: 16px;
    top: 45px;
    cursor: pointer;
}
.hide{
    display: none !important;
}
  .close-btn:hover , .close-btn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.input-group{
   margin-bottom: 20px;
}
.input-group label{
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}
.input-group input{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.3 ease;
}
.input-group input:focus{
    border-color: #007bff;
    outline: none;
}

.list {
  margin: 50px auto;
  width: 600px;
  .title {
    background-color: rgb(227, 0, 114);
    padding: 45px 40px 70px;
    color: aliceblue;
    text-align: center;
  }
  h2{
    margin-top: 10px;
    font-size: 25px;
  }
  input {
    width: 75%;
    float: left;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 16px;
    margin-top: 15px;
  }
  .add{
    width: 25%;
    float: left;
    border: none;
    outline: none;
    background-color: #d9d9d9;
    color: #555;
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3;
    margin-top: 15px;
  }
  .add:hover{
    background-color: #bbb;
  }
  .tasklist{
    max-height: 300px;
    overflow-y: hidden;
  }
  .tasklist{
    list-style-type: none;
  }
  .tasklist li {
        position: relative;
        padding: 12px 8px 12px 40px;
    background-color: #eee;
    /* color: #eee; */
    font-size: 18px;
    cursor: pointer;
    transition: 0.3;
    /* make the list item unselectable */
    user-select: none;
  }
    .tasklist li:hover{
    background-color: rgb(205, 204, 205);
  }
  .closebtn{
    display: none;
    position: absolute;
    right: 15px;
  }
  ul li:hover .closebtn{
    display: inline-block;
  }
    ul li .closebtn i:hover{
    color: red;
  }
     .tasklist li.done{
      background-color: #888;
      color: #fff;
      text-decoration:line-through ;
  }
     .tasklist li.done::after{
    content: '\002714';
    position: absolute;
    left: 22px;
    top: 9px;
  }
}
}